:root {
  --color-bg-light: #fefefe;
  --color-text-dark: #374151;
  --color-accent-pink: #bc8f8f;
  --color-accent-blue: #7f8eef;
  --color-status-available: #059669;
  --color-status-lent: #ef4444;
  --color-bg-html: #bc8f8f;
}

/* Estructura general */
body {
  font-family: sans-serif;
  background-color: var(--color-bg-html);
  padding: 16px;
  margin: 0;
}

.contenedor-app {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

header {
  text-align: center;
  padding-bottom: 16px;
}

.titulo {
  font-size: 36px;
  font-weight: bold;
  color: var(--color-bg-light);
}

#info-usuario-actual {
  font-size: 18px;
  text-align: center;
  font-weight: bolder;
  font-style: italic;
  border: 3px solid var(--color-status-available);
  border-radius: 8px;
  padding: 8px;
}

/*Estructura Principal*/
.contenedor-principal {
  display: grid;
  grid-template-areas:
    "izquierda"
    "derecha";
  gap: 24px;
}

/* Asignación de áreas */
.columna-izquierda {
  grid-area: izquierda;
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
}

.contenedor-materiales {
  grid-area: derecha;
}

/* Estilo para materiales DISPONIBLES (Verde) */
.material-disponible {
  border: 2px solid var(--color-status-available);
  color: var(--color-status-available);
  border-radius: 8px;
  padding: 5px;
  font-weight: bold;
}

/* Estilo para materiales PRESTADOS (Rojo) */
.material-prestado {
  border: 2px solid var(--color-status-lent);
  color: var(--color-status-lent);
  border-radius: 8px;
  padding: 5px;
  font-weight: bold;
}

/* Tarjetas */
.tarjeta {
  background-color: var(--color-bg-light);
  padding: 24px;
  border-radius: 12px;
}

.tarjeta h2 {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  color: var(--color-text-dark);
  margin-bottom: 16px;
  padding-bottom: 8px;
}

.tarjeta h2.subtitulo-tarj {
  font-size: 20px;
}

.pareja {
  display: flex;
  flex-direction: row;
}

/* Formularios y botones */
#formulario-accion,
#formulario-agregar-material {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.input-field {
  width: 100%;
  padding: 8px;
  border: 1px solid #d1d5db;
  border-radius: 8px;
}

.contenedor-botones {
  display: flex;
  gap: 8px;
}

.button {
  flex: 1;
  padding: 8px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  border: none;
  color: var(--color-bg-light);
}

.btn-prestamo {
  background-color: var(--color-accent-blue);
}

.btn-devolucion {
  background-color: var(--color-accent-pink);
}

.btn-agregar {
  background-color: var(--color-status-available);
  width: 100%;
}

/* área de registro */
.area-registro {
  height: 160px;
  overflow-y: auto;
  border: 1px solid #d1d5db;
  background-color: #f9fafb;
  padding: 12px;
  border-radius: 8px;
  font-size: 12px;
}

.area-registro p {
  padding: 6px;
  margin-bottom: 4px;
  border-radius: 4px;
}

/* Lista de materiales */
#lista-materiales {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.material-card {
  display: flex;
  flex-direction: column;
  border: 5px dotted var(--color-accent-pink);
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  padding: 10px;
  width: calc(50% - 6px); /* 50% menos la mitad del gap */
  box-sizing: border-box;
}

p {
  margin: 6px;
}

/* MEDIA QUERIES */
@media (min-width: 1024px) {
  .contenedor-principal {
    grid-template-areas: "izquierda derecha";
    grid-template-columns: 1fr 2fr; 
  }
}

@media (max-width: 640px) {
  .material-card {
    width: 100%;
  }
}
